backend/.settings
backend/target
backend/.classpath
backend/.project
backend/test-output

ui/target
ui/.settings
ui/src/main/webapp/npm-debug.log
ui/src/main/webapp/node_modules
ui/.project
ui/.classpath

https-rproxy/.classpath
https-rproxy/.project
https-rproxy/.settings

deploy/tmp