
<div class="container">

  <div id="infoAlert" *ngIf="infoMessage != null" class="alert alert-{{infoMessage.type}}" role="alert" [innerHtml]="infoMessage.text"></div>

	<h1 class="title">{{server.ip}}</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">
					<span *ngIf="!loading">Search</span>
					<span *ngIf="loading"><img src="img/loader.gif" /></span>
				</span>
			  <input type="text" [disabled]="loading" #input class="form-control search-input" placeholder="Enter the package name to install" aria-describedby="basic-addon2" (keyup)="onSerachKeywordChange(input.value)">
			  <span class="input-group-btn">
	        <button [disabled]="loading" class="btn btn-success" type="button" (click)="installPackage(input.value)" [innerHtml]="(installing==false) ? 'Install' : 'Installing'"></button>
	      </span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group app-packagelist">
			  <li *ngFor="#package of packages" [ngClass]="{'list-group-item': true,  'app-package': true, 'loading-package': package.loading}" [attr.data-packname]="package.name">
			  	<span class="name">{{package.name}}</span>
			  	<span class="glyphicon glyphicon-remove app-delpackage" (click)="onClickDel(package.name)" *ngIf="!package.loading"></span>
			  	<img src="img/loader.gif" class="loader" *ngIf="package.loading"/>
			  </li>
			</ul>
		</div>
	</div>

</div>
