.app-delpackage {
	float: right;
	color: red;
	cursor: pointer;
}

.loading {
	text-align: center;
}

.loading img {
	padding: 10px;
}

.app-packagelist {
	margin-top: 10px;
}

.app-packagelist li:hover{
	background: #e5e5e5;
}


.app-packagelist .loader {
	float: right;
}

.alert {
	margin: 0;
}