.app-delpackage {
	float: right;
	color: red;
	cursor: pointer;
}

.app-refresh {
	margin-right: 10px;
}

#infoAlert {
	position: fixed;
	width: 100%;
	top:0; left:0;
	height: auto;
	border-radius: 0;
	z-index: 10;
}


.loading {
	text-align: center;
}

.loading img {
	padding: 10px;
}

.app-packagelist {
	margin-top: 10px;
}

.app-packagelist li:hover{
	background: #e5e5e5;
}


.app-packagelist .loader {
	float: right;
}

.alert {
	margin: 0;
}
