<div class="container">
	<div class="row" *ngIf="infoMessage != null">
		<div class="col-md-12">
		  <div class="alert alert-{{infoMessage.type}}" role="alert" [innerHtml]="infoMessage.text"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="input-group" style="padding-bottom: 10px">
				<span class="input-group-addon" id="basic-addon1">
					<span>Search</span>
				</span>
			  <input type="text" [disabled]="loading" #input class="form-control search-input" placeholder="Enter server ip to add" aria-describedby="basic-addon2" (keyup)="onSerachKeywordChange(input.value)">
			  <span class="input-group-btn" *ngIf="canAdd">
	        <button [disabled]="loading" class="btn btn-primary" type="button" (click)="onClickAdd(input.value)">Add Server</button>
	      </span>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="adding">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Please, fill the server info:</div>
			  <div class="panel-body">
			  	<input type="text" class="form-control" placeholder="Name" [(ngModel)]="serverData.name">
			    <br/>
			    <input type="text" class="form-control" placeholder="IP" [(ngModel)]="serverData.ip">
			    <br/>
					<input type="text" class="form-control" placeholder="Username" [(ngModel)]="serverData.user">
					<br/>
					<input type="text" class="form-control" placeholder="Password" [(ngModel)]="serverData.password">
					<br/>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Distribution</span>
					  <select class="form-control" placeholder="Distribution" [(ngModel)]="serverData.distribution">
							<option>Ubuntu</option>
						</select>
					</div>
					
			  </div>
			  <div class="panel-footer">
			  	<button [disabled]="saving" class="btn btn-success" type="button" (click)="onClickSaveServer()" [innerHtml]="(saving) ? 'Saving' : 'Save'"></button>
			  	<button [disabled]="saving" class="btn btn-default" type="button" (click)="onClickCancelSaving()">Cancel</button>
				</div>
			</div>
			
		</div>
	</div>
	<ul class="list-group"> 
	  <li *ngFor="#server of listServers" class="list-group-item app-server">
	  	<span class="name" *ngIf="server.name">{{server.name}}:</span>
	  	<span class="ip">{{server.ip}}</span>
	  	<span class="glyphicon glyphicon-edit app-edit" aria-hidden="true" (click)="onClickEditServer(server)"></span>
	  	<span class="glyphicon glyphicon-cog app-info" aria-hidden="true" (click)="onClickInfoServer(server)"></span>
	  </li>
	</ul>
</div>